* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.user-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  max-width: 200px;
  box-shadow: 8px 10px 28px -4px rgba(0,0,0,0.65);
}
.dark .user-card {
    color: #ffffff;
    background: #383737;
}