* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 30px 0; /* 30px - сверху/снизу, справа/слева - 0 */
    background-color: rgb(232, 232, 232);
    position: fixed; /* фиксируем элемент на месте */
    width: 100%;
}
nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
a {
    font-size: 24px; /* размер шрифта  */
    text-decoration: none; /* сброс нижнего подчеркивания ссылки */
    color: black;
}
section {
    height: 100vh;
}
#green {
    background-color: seagreen;
}
#yellow {
    background-color: rgb(231, 231, 74);
}
#blue {
    background-color: dodgerblue;
}
#red {
    background-color: palevioletred;
}
/*
    Задача. покрасить каждый section и обратиться к нему по id

    1. селектор по id - #idName
    2. селектор по тегу - .className
    3. селектор по классу - tagName
    4. селектор по атрибуту - tagName[attrName="attrValue"]

    id - идентификатор блока. уникальное название блока, может использоваться только единожды

    100vh - высота окна браузера
        view height - относительная единица измерения  (относительно высота окна браузера)

    position - позволяет позиционировать элементы на странице
    по умолчанию position: static

    relative - относительное позиционирование, можем позиционировать элемент относительно
        его текущего месторасположения, но это никак не повлияет на остальные элементы

    absolute - абсолютное позиционирование, можем позиционировать элемент относительно
        ближайшего позиционированного элемента, если таких нет, то относительно начала страницы
        при этом если у элемента position:absolute, то другие элементы его не видят
        
    С помощью координат можно указать положение квадрата относительно его текущего местоположения
        left - слева
        right - справа
        top - сверху
        bottom - снизу
*/